@use '@material/feature-targeting/feature-targeting';
@use '@material/theme/index' as theme;

$ripple-target: '.mdc-chip__ripple';

@mixin core-styles($query: feature-targeting.all()) {
  .smui-chip-set--non-interactive .mdc-chip {
    cursor: initial;

    @include theme.property(color, on-surface);
  }

  .mdc-deprecated-chip-trailing-action {
    opacity: 0.7;

    &:focus {
      opacity: 1;
    }
  }
}
