@import "@material/select/mdc-select";
@import 'svelte-material-ui/components/floating-label/style';
@import 'svelte-material-ui/components/line-ripple/style';
@import 'svelte-material-ui/components/notched-outline/style';
@import 'svelte-material-ui/components/list/style';
@import 'svelte-material-ui/components/menu/style';

.smui-select__native-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
