//
// Demo App Styles
//

// Import the typography styles.
@import "demo/typography.scss";

// We need the theming variables for the following styles.
@import "smui-theme";
// This adds classes like "mdc-theme--primary-bg".
@import "@material/theme/mdc-theme";
@import "@material/elevation/mixins";
// Main Top App Bar styling.
@import "@smui/top-app-bar/style";
.mdc-top-app-bar.demo-top-app-bar {
  // Color the top bar with "surface" colors.
  @include mdc-top-app-bar-fill-color-accessible(surface);
  @include mdc-top-app-bar-icon-ink-color(on-surface);
  // Give it a shadow.
  @include mdc-elevation(4);
  // Position it above the drawer.
  z-index: 7;
}

// Now on to the regular app styling stuff.

html {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

body, app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-container {
  flex-grow: 1;
  height: 0;
  display: flex;
}

.demo-drawer, .demo-main-content {
  overflow: auto;
  height: 100%;
}

@import "@material/top-app-bar/variables";
.demo-drawer.demo-drawer-adjust {
  padding-bottom: $mdc-top-app-bar-row-height;
}

.demo-app-content {
  flex: auto;
  position: relative;
  width: 0;
  flex-grow: 1;
}

.demo-main-content {
  overflow: auto;
  display: flex;
}

.demo-main-content section {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.demo-main-content section:after {
  height: 32px;
  display: block;
  content: " ";
}

section > div {
  margin: 1em 0 .6em;
}

.status {
  max-width: 100%;
  font-size: .9em;
  word-break: break-word;
  white-space: normal;
}
