@use '@material/circular-progress/mixins' as circular-progress;
@use '@material/theme/color-palette';

.my-colored-circle {
  @include circular-progress.color(color-palette.$green-600);
  @include circular-progress.track-color(color-palette.$green-900);
}
