@import "@material/button/mixins";
@import "@material/shape/variables";

.button-shaped-round {
  @include mdc-button-shape-radius(999px);
}

.button-shaped-notch {
  --notchSize: #{$mdc-shape-small-component-radius * 2};

  // source: https://css-tricks.com/notched-boxes/
  clip-path:
    polygon(
      0% var(--notchSize),
      var(--notchSize) 0%,
      calc(100% - var(--notchSize)) 0%,
      100% var(--notchSize),
      100% calc(100% - var(--notchSize)),
      calc(100% - var(--notchSize)) 100%,
      var(--notchSize) 100%,
      0% calc(100% - var(--notchSize))
    );
}