/dist/
.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
/.svelte
/.svelte-kit
/build
/static/smui.css
/static/smui-dark.css
/static/site.css
/static/site-dark.css
