@use '@material/theme/index' as theme with (
  $surface: #222222,
  $background: #000000
);

// Basically just leave everything default (but with a dark bg).

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}
