@use '@material/linear-progress/mixins' as linear-progress;
@use '@material/theme/color-palette';

.my-colored-bar {
  @include linear-progress.bar-color(color-palette.$green-500);
  @include linear-progress.buffer-color(color-palette.$green-100);
}
