@import "@material/textfield/mixins";
@import "@material/ripple/mixins";
@import "@material/rtl/mixins";
@import "@material/feature-targeting/functions";

@mixin smui-text-field-core-styles($query: mdc-feature-all()) {
  .smui-text-field--standard {
    @include mdc-states-base-color(transparent);
    @include mdc-text-field-fill-color(transparent);

    &.mdc-text-field--disabled {
      @include mdc-text-field-fill-color_(transparent);
    }

    .mdc-text-field__input {
      padding-left: 0;
      padding-right: 0;
    }

    .mdc-floating-label {
      @include mdc-rtl-reflexive-position(left, 0);
    }

    &.mdc-text-field--with-leading-icon {
      @include mdc-text-field-icon-horizontal-position_(
        left,
        0,
        $mdc-text-field-icon-padding - $mdc-text-field-icon-position,
        0
      );

      .mdc-floating-label {
        @include mdc-rtl-reflexive-position(left, $mdc-text-field-icon-padding - $mdc-text-field-icon-position);
      }

      &.mdc-text-field--dense {
        @include mdc-text-field-icon-horizontal-position_(
          left,
          0,
          $mdc-text-field-dense-icon-padding - $mdc-text-field-dense-icon-position,
          0
        );

        .mdc-floating-label {
          @include mdc-rtl-reflexive-position(left, $mdc-text-field-dense-icon-padding - $mdc-text-field-dense-icon-position);
        }
      }
    }

    &.mdc-text-field--with-trailing-icon {
      @include mdc-text-field-icon-horizontal-position_(
        right,
        0,
        $mdc-text-field-icon-padding - $mdc-text-field-trailing-icon-position,
        0
      );

      &.mdc-text-field--dense {
        @include mdc-text-field-icon-horizontal-position_(
          right,
          0,
          $mdc-text-field-dense-icon-padding - $mdc-text-field-dense-icon-position,
          0
        );
      }
    }

    &.mdc-text-field--with-leading-icon.mdc-text-field--with-trailing-icon {
      @include mdc-text-field-icon-horizontal-position-two-icons_(
        0,
        $mdc-text-field-icon-padding - $mdc-text-field-icon-position,
        0,
        $mdc-text-field-icon-padding - $mdc-text-field-trailing-icon-position
      );

      &.mdc-text-field--dense {
        @include mdc-text-field-icon-horizontal-position-two-icons_(
          0,
          $mdc-text-field-dense-icon-padding - $mdc-text-field-dense-icon-position,
          0,
          $mdc-text-field-dense-icon-padding - $mdc-text-field-dense-icon-position
        );
      }
    }

    &.mdc-text-field--with-leading-icon.mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
      @include mdc-rtl-reflexive-position(right, 0);
    }

    & + .mdc-text-field-helper-line {
      padding-left: 0;
      padding-right: 0;
    }
  }
}