@use '@material/elevation/index' as elevation;
@use '@material/theme/index' as theme;
@use '@material/feature-targeting/index' as feature-targeting;
@use '@material/shape/index' as shape;
@use '@material/typography/index' as typography;

$paper-padding: 24px 16px !default;

@mixin core-styles($query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);
  $feat-animation: feature-targeting.create-target($query, animation);
  $feat-structure: feature-targeting.create-target($query, structure);

  .smui-paper {
    @include fill-color(surface, $query);
    @include ink-color(on-surface, $query);
    @include paper-elevation($query: $query);

    padding: $paper-padding;

    &.smui-paper--rounded {
      @include shape-radius(medium, $query: $query);
    }

    &.smui-paper-transition {
      @include feature-targeting.targets($feat-animation) {
        transition: elevation.transition-value();
      }

      @include feature-targeting.targets($feat-structure) {
        will-change: elevation.$property;
      }
    }

    .smui-paper__title {
      @include typography.typography(headline5, $query);
      margin-top: 0;
      margin-bottom: 0.4rem;
    }

    .smui-paper__subtitle {
      @include typography.typography(subtitle1, $query);
      margin-top: -0.2rem;
      margin-bottom: 0.4rem;
    }

    .smui-paper__content {
      @include typography.typography(body1, $query);
    }
  }

  @include paper-color(primary, primary, on-primary, $query);
  @include paper-color(secondary, secondary, on-secondary, $query);
}

@mixin paper-color(
  $name,
  $fill-color,
  $ink-color,
  $query: feature-targeting.all()
) {
  .smui-paper.smui-paper--color-#{$name} {
    @include paper-elevation($fill-color, $query: $query);

    @include fill-color($fill-color, $query);
    @include ink-color($ink-color, $query);
  }
}

@mixin shape-radius(
  $radius,
  $rtl-reflexive: false,
  $query: feature-targeting.all()
) {
  @include shape.radius($radius, $rtl-reflexive, $query: $query);

  // &.smui-paper--dense {
  //   @include shape.radius(
  //     $radius,
  //     $rtl-reflexive,
  //     $query: $query
  //   );
  // }
}

@mixin ink-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  @include feature-targeting.targets($feat-color) {
    @include theme.property(color, $color);
  }
}

@mixin fill-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  @include feature-targeting.targets($feat-color) {
    @include theme.property(background-color, $color);
  }
}

@mixin paper-elevation(
  $color: elevation.$baseline-color,
  $query: feature-targeting.all()
) {
  @for $i from 0 through 24 {
    &.smui-paper--elevation-z#{$i} {
      @include elevation.elevation($i, $color, $query: $query);
    }
  }
}
