//
// Demo App Styles
//

// Import the typography styles.
@import "demo/component-demos/Typography.scss";

html {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

body, app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-container {
  flex-grow: 1;
  height: 0;
  display: flex;
}

.demo-drawer-content, .demo-main-content {
  overflow: auto;
  height: 100%;
}

.demo-app-content {
  flex: auto;
  position: relative;
  width: 0;
  flex-grow: 1;
}

.demo-main-content {
  overflow: auto;
  display: flex;
}

.demo-main-content section {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

section > div {
  margin: 1em 0 .6em;
}

.status {
  font-family: monospace;
  font-size: .9em;
}
