//
// MDC Theme
//

@use '@material/theme/color-palette';
@use "@material/theme" with (
  // Svelte Colors!
  $primary: #ff3e00,
  $accent: #40b3ff,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900,
);
