@use '@smui/floating-label/style' as floating-label-style;
@use '@smui/line-ripple/style' as line-ripple-style;
@use '@smui/notched-outline/style' as notched-outline-style;
@use '@material/textfield/mdc-text-field';
@use './mixins';

@include mixins.core-styles;
