@use '@material/image-list/mixins' as image-list;

.my-image-list-enforce-ratio {
  @include image-list.standard-columns(5);
  max-width: 680px;
}

@media (max-width: 599px) {
  .my-image-list-enforce-ratio {
    @include image-list.standard-columns(3);
  }
}
