@use '@material/image-list/mixins' as image-list;

.my-image-list-masonry {
  @include image-list.masonry-columns(5);
  @include image-list.shape-radius(10px);
  max-width: 680px;
}

@media (max-width: 599px) {
  .my-image-list-masonry {
    @include image-list.masonry-columns(3);
  }
}
